---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/turbofan.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title"> Classifying signals with Fourier and Wavelet features </h2>
    <a class="project-link" href="https://github.com/vamaral1/fft-dwt-nasa-turbofan">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/cv-cuda.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title"> Motion Tracking using CUDA and OpenCV </h2>
    <p> Project for JHU Parallel Programming 600.420 </p>
    <a class="project-link" href="https://github.com/vamaral1/cv-cuda">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/ai5.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title"> A comparison of passsive and active reinforcement learning for the racetrack problem </h2>
    <p> Project for JHU Artificial Intelligence 600.435 </p>
    <a class="project-link" href="https://drive.google.com/open?id=0B_CHrALV5pLdSWdDV2ZTMVlmRXM">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/ai4.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title"> Decision Trees: A comparison of traditional and evolutionary algorithms </h2>
    <p> Project for JHU Artificial Intelligence 600.435 </p>
    <a class="project-link" href="https://drive.google.com/open?id=0B_CHrALV5pLdRXV4ZDBSb3lSMnc">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/ml-project.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title"> Course Recommendation System Using Document Clustering </h2>
    <p> Final project for JHU Machine Learning 600.475 </p>
    <a class="project-link" href="https://github.com/vamaral1/doc-clustering">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/nih.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title">SCORHE: A System for Automated Video-Based Assessment of Activity and Behavior for Mice Housed in a Home Cage Environment</h2>
    <p> Research project from my summer at NIH was presented at The Johns Hopkins Sleep & Circadian Research Day </p>
    <a class="project-link" href="https://drive.google.com/open?id=0B_CHrALV5pLdOEJQNVQxbmMtT1VqaWcyUzVKVVNJTkx2N1Zv">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/ardrone.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title">Gesture-based control of ArDrone</h2>
    <p>I have implemented a closed loop system to control a simple quadcopter using gestures. I used the commercially available Parrot
ArDrone 2 and ROS. Using an Asus Xtion Pro Live depth sensor, I was able to track certain arm movements and map them to specific controls
that were sent to the quadcopter over Wifi.</p>
    <a class="project-link" href="https://github.com/vamaral1/ardrone-gesture">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://raw.githubusercontent.com/vamaral1/cookie-bot/master/img/bot.jpg"/>
  </div>
  <div class="project-content">
    <h2 class="title">Cookie Bot</h2>
    <p> A mobile robot controlled by an Arduino Uno and hand gestures using the Microsoft Kinect </p>
    <a class="project-link" href="https://github.com/vamaral1/cookie-bot">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="https://github.com/vamaral1/vamaral1.github.io/blob/master/_assets/nasec.jpg?raw=true"/>
  </div>
  <div class="project-content">
    <h2 class="title">Exploration of Extraterrestrial Planets Using Automated Intelligent Systems</h2>
    <p> Research project delivered as part of The Naval Academy Science and Engineering Conference (NASEC) </p>
    <a class="project-link" href="https://drive.google.com/open?id=0B_CHrALV5pLdcW5ZUWF6Qnp6NzQ">Check it out</a>
  </div>
</div>
<div class="project-clearfix">
  <div class="project-img">
    <img src="http://blog.3ie.fr/wp-content/uploads/2015/01/Twitter.png"/>
  </div>
  <div class="project-content">
    <h2 class="title">Querying from Twitter</h2>
    <p> Streaming twitter data to database with front-end to query certain topics </p>
    <a class="project-link" href="https://github.com/vamaral1/DBFinalProject">Check it out</a>
  </div>
</div>
